body{
    margin: 0px;
}
.navBar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo_name{
    display: flex;
    align-items: center;
}
.navOptions{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.cart{
    text-decoration: none;
    color: rgb(213, 163, 113);
    margin-left: 20px;
    align-content: end;
}
.logoMain{
    height: 100px;
    margin-left: 20px;
    margin-right: 0px;
}

.navLink{
    text-decoration: none;
    color: rgb(213, 163, 113);
    margin-left: 20px;
}

.selected{
    background-color: rgb(141, 97, 54);
    color:antiquewhite;
    border-radius: 12px;
    padding: 4px;
}

.home_background_video{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* Ensure the video is behind other content */
    object-fit: cover; /* Ensure the video covers the entire background */
}
.slogan{
    height: 30vw; 
    font-size: 8em; 
    width: 60vw; 
    min-height: 200px;
    color: antiquewhite;
}

.reviews_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 6%;
    margin-right: 6%;
}
.review_card{
    background-color: rgba(141, 97, 54, 0.9);
    width: 250px;
    height: 150px;
    text-align: center;
    margin: 10px;
    justify-self: center;
    border-radius: 12px;
    margin:10px;
    padding: 5px;
}

.review_star_f{
    margin-top: 5px;
}
.review_star_e{
    margin-top: 5px;
}
.review_user{
    margin: 5px;
    text-align: left;
    position: relative;
    bottom: 0;
    right: 0;
}
.review_content{
    font-size: 20px;
    margin: 5px;
    text-align: left;
    height: 90px;
}
.footer_info{
    background-color: rgba(141, 97, 54, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}
.logoFooter{
    width: 200px;
}
.about_container{
    background: image-set("./Website_Images/3.png");
    background-size: cover;
    padding: 20px;
    display: flex;
}
.about_info{
    background-color: rgba(59, 41, 26, 0.8);
    color: antiquewhite;
    margin: 0px;
    width: 60%;
    min-width: 200px;
}
.about_header{
    font-size: 40px;
    margin: 0px;
    text-align: center;
}
.about_text{
    margin: 0px;
    padding: 10px;
    font-size: 22px;
}
.about_img{
    width: 40%;
}
.about_image{
    width: 38vw;
    padding-right: 20px;
}

.menuCategory{
    display: flex;
    justify-content: center;
}

.itemContainer{
    display: flex;
    flex-wrap: wrap;
}
.itemCard{
    width: 300px;
    height: 370px;
}
.cardSpacing{
    height: 150px;
}
.orderForm{
    display: flex;
    justify-content: end;
}
.orderButton{
    background-color: rgba(141, 97, 54, 1);
    border-radius: 12px;
    padding: 5px;
}
.itemInfo{
    background-color: rgba(59, 41, 26, 0.6);
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    height: 220px;
}
.itemNameAndPrice{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cartItemsNum{
    position: relative;
    color: wheat;
    background-color:rgba(141, 97, 54, 1);
    padding: 2px;
    font-size: 16px;
    top: -45px;
    right: -20px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    align-content: center;
}

@media (min-width: 1400px){

    .about_header{
        font-size: 50px;
    }
    .about_text{
        font-size: 22px;
    }
}
@media (min-width : 1000px)and (max-width:1400px){

    .about_header{
        font-size: 40px;
    }
    .about_text{
        font-size: 22px;
    }
}
@media (min-width : 600px)and (max-width:1000px){
    .reviews_container{
        grid-template-columns: repeat(2, 1fr);
    }
    .about_img{
        width: 40%;
        opacity: 0;
    }
}
@media (min-width : 450px)and (max-width:600px){
    .reviews_container{
        grid-template-columns: 1fr;
    }
    .about_img{
        width: 40%;
        opacity: 0;
    }
}
@media (max-width:450px){
    .reviews_container{
        grid-template-columns: 1fr;
    }
    .about_img{
        width: 40%;
        opacity: 0;
    }
}

.star1{
    z-index: 4;
}
.star2{
    z-index: 3;
}
.star3{
    z-index: 2;
}
.star4{
    z-index: 1;
}
.star5{
    z-index: 0;
}


/* Customize the label (the container) */
.container {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    color: rgba(59, 41, 26, 0.2)
}
  
/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    transform: rotateZ(90deg);
    margin: 0;
}
  
  
/* When the radio button is checked */
.container input:checked ~ .checkmark {
    color: rgba(59, 41, 26, 1)
}

.container input:hover ~ .checkmark {
    color: rgba(59, 41, 26, 0.9)
}
