body{
    margin: 0px;
}
.navBar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(250, 235, 215, 0.6);
    width: 100%;
}
.logo_name{
    display: flex;
    align-items: center;
}
.navOptions{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.cart{
    text-decoration: none;
    color:rgba(59, 41, 26,1);
    margin-left: 20px;
    align-content: end;
}
.cartSelected{
    color: rgb(141, 97, 54);
}
.logoMain{
    height: 100px;
    margin-left: 20px;
    margin-right: 0px;
}

.navLink{
    text-decoration: none;
    color:rgba(59, 41, 26,1);
    margin-left: 20px;
}

.selected{
    background-color: rgb(141, 97, 54);
    color:antiquewhite;
    border-radius: 12px;
    padding: 4px;
}

.home_background_video{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* Ensure the video is behind other content */
    object-fit: cover; /* Ensure the video covers the entire background */
}
.noMargin{
    margin: 0%;
}
.slogan{
    margin-left: 30px;
    font-size: 50px; 
    width: 80vw; 
    min-height: fit-content;
    color: antiquewhite;
    text-shadow: 2px 2px 5px black;
}
.slogan-descrip{
    font-size: 24px;
    margin-top: 0%;
}

.reviews_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 6%;
    margin-right: 6%;
}
.review_card{
    background-color: rgba(141, 97, 54, 0.9);
    width: 250px;
    height: 200px;
    text-align: center;
    margin: 10px;
    justify-self: center;
    border-radius: 12px;
    margin:10px;
    padding: 5px;
}

.review_star_f{
    margin-top: 5px;
}
.review_star_e{
    margin-top: 5px;
}
.review_user{
    margin: 5px;
    text-align: left;
    position: relative;
    bottom: 0;
    right: 0;
}
.review_content{
    overflow-wrap: break-word;
    font-size: 18px;
    margin: 5px;
    text-align: left;
    height: 90px;
}
.footer_info{
    background-color: rgba(141, 97, 54, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}
.logoFooter{
    width: 200px;
}
.about_container{
    background: image-set("./Website_Images/3.png");
    background-size: cover;
    padding: 20px;
    display: flex;
}
.about_info{
    background-color: rgba(59, 41, 26, 0.8);
    color: antiquewhite;
    margin: 0px;
    width: 60%;
    min-width: 200px;
}
.about_header{
    font-size: 40px;
    margin: 0px;
    text-align: center;
}
.about_text{
    margin: 0px;
    padding: 10px;
    font-size: 22px;
}
.about_img{
    width: 40%;
}
.about_image{
    width: 38vw;
    padding-right: 20px;
}


.itemContainer{
    display: flex;
    flex-wrap: wrap;
}
.itemCard{
    width: 300px;
    height: 250px;
    border-radius: 15px;
}
.cardSpacing{
    height: 150px;
}
.orderForm{
    display: flex;
    justify-content: end;
}
.orderButton{
    background-color: rgba(141, 97, 54, 1);
    border-radius: 15px;
    padding: 10px;
    margin: 15px;
    border: 2px;
    color: antiquewhite;
    cursor: pointer;
}
.orderButton:hover{
    background-color: antiquewhite;
    color: rgba(141, 97, 54, 1);
}
.itemInfo{
    background-color: rgba(59, 41, 26, 0.6);
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    height: 100px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.itemNameAndPrice{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 20px;
    margin-top: 0px;
}
.cartItemsNum{
    position: relative;
    color: wheat;
    background-color:rgba(141, 97, 54, 1);
    padding: 2px;
    font-size: 16px;
    top: -45px;
    right: -20px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    align-content: center;
}
.reviewStars{
    transform: rotateZ(-15deg);
}

.star1{
    z-index: 5;
    margin-left: 5px;
    padding-left: 35.5px;
}
.star2{
    z-index: 4;
    padding-left: 37px;
}
.star3{
    z-index: 3;
    margin-left: -5px;
    padding-left: 35.5px;
}
.star4{
    z-index: 2;
    padding-left: 36.5px;
}
.star5{
    z-index: 1;
    margin-left: -1px;
    padding-left: 36px;
}

/* Customize the label (the container) */
.container {
    position: relative;
    cursor: pointer;
    color: rgba(59, 41, 26, 0);
}
  
/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 30px;
    transform: rotateZ(90deg);
    margin: 0;
}
  
  
/* When the radio button is checked */
.container input:checked ~ .checkmark {
    color:rgb(245, 223, 194)
}

.container input:hover ~ .checkmark {
    color:rgba(250, 235, 215, 0.8)
}

.starsBehind{
    position: absolute;
    padding-top: 2px;
    z-index: 0;
    color:rgba(250, 235, 215, 0.5) ;
}

.ratingContainer{
    height: 40px;
    width: 300px;
}

.leaveReview{
    background: image-set("./Website_Images/13.png");
    background-size: cover;
    height: fit-content;
    display: flex;
}
.reviewImage{
    margin: 0px;
    width: 40%;
}
.createReview{
    background-color: rgba(108, 75, 41, 0.5);
    width: 60%;
    padding: 20px;
}
.reviewContent{
    width: 90%;
    height: 150px;
    background-color: rgba(250, 235, 215, 0.5);
    border-radius: 12px;
    padding: 10px;
    border: none;
    font-size: 20px;
}
.ratingContainer{
    display: flex;
    align-items: center;
}
.reviewButton{
    padding: 5px;
    border-radius: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px;
    background-color: rgba(141, 97, 54, 1);
    margin-top: 10px;
    color: antiquewhite;
}

.ratingAsk{
    font-size: 0;
    height: 0;
    margin: 0;
}

form:invalid .reviewButton{
    opacity: 0.2;
}

form:invalid .ratingAsk{
    font-size: 14px;
    height: fit-content;
    margin-bottom: 0;
    color: antiquewhite;
}

.footerText{
    margin: 2px;
}

.menuHeader{
    background: image-set("./Website_Images/24.png");
    background-size: cover;
}
.menuSpacing{
    height: 100px;
}
.menuCategory{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.menuCategoryHeader{
    background-color: rgba(59, 41, 26, 1);
    margin: 0;
    height: 100px;
    text-align: center;
    color: antiquewhite;
}

.menuCategoryImage{
    width: 100vw;
    height: 400px;
    align-content: end;
    font-size: 24px;
}

.menuCategoryHeaderCoffee{
    background-color: rgba(59, 41, 26, 1);
    margin: 0;
    height: 100px;
    text-align: center;
    color: antiquewhite;
}
.categoryH{
    font-size: 90px;
    font-family: "Calligraffitti", cursive;
    font-weight: 400;
    font-style: normal;
    position: relative;
    bottom: 50px;
    color: rgb(141, 97, 54);
    text-shadow: 2px 2px 5px black;
}
.categoryB{
    font-size: 24px;
    position: relative;
    bottom: 70px;
    color: antiquewhite;
}
.menuBody{
    background: image-set("./Website_Images/51.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.signInUp{
    background: image-set("./Website_Images/5.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signInUpBG{
    background-color: rgba(59, 41, 26, 0.5);
    height: 350px;
    width: 300px;
    color: antiquewhite;
    padding: 20px;
    border-radius: 12px;
    align-content: center;
}
.signInUpForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.google, .linkToSignInUp{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    text-decoration: none;
    margin: 5px;
}
.google:hover, .linkToSignInUp:hover{
    text-decoration: underline;
}
.signInUpButton{
    background-color:rgba(141, 97, 54, 1);
    width: fit-content;
    border: 0px;
    border-radius: 12px;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 10px;
    cursor: pointer;
}
.emailField, .passwordField{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    border: 2px;
    margin-bottom: 30px;
}
.signInUpForm:invalid .signInUpButton{
    opacity: 0.4;
    cursor: default;
}

.cartItem{
    background-color: rgba(141, 97, 54, 1);
    display: flex;
    height: 20vw;
    max-height: 120px;
    border-radius: 12px;
    margin: 5px;
    width: 40%;
}
.cartItemsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.deleteFromCart{
    width: 25vw;
    max-width: 230px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.deleteItemButton{
    background-color:rgba(108, 75, 41, 0);
    border:none;
    margin: 10px;
    color: antiquewhite;
    cursor: pointer;
}
.deleteItemButton:hover{
    color:rgba(59, 41, 26,1);
}
.cartItemInfo{
    padding-left: 10px;
}
.cartItemNamePrice{
    display: flex;
    align-items: center;
}
.cartItemPrice{
    padding-left: 20px;
    margin: 0px;
}
.cartItemName{
    width: 160px;
}
.totalsCart{
    display: flex;
    justify-content: space-between;
    width: 50%;
    max-width: 700px;
    min-width: 300px;
    font-size: 18px;
}
.currentOrderInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.placeOrderInfo{
    width: 50%;
    max-width: 700px;
    min-width: 300px;
}
.cupRButton{
    display: flex;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 18px;
    align-items: center;
}
.cupRButton input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.cupRButtonNew{
    position: absolute;
    top: -4px;
    left: 0;
    height: 25px;
    width: 25px;
    color:rgba(141, 97, 54, 0.5);
    border: #2f3335;
    opacity: 50%;
}
  /* On mouse-over, add a grey background color */
.cupRButton:hover input ~ .cupRButtonNew {
    color:rgba(141, 97, 54, 1)
}
  
.cupRButton input:checked ~ .cupRButtonNew {
    color:rgba(141, 97, 54, 1);
    opacity: 100%;
}

@media (min-width: 1400px){

    .about_header{
        font-size: 50px;
    }
    .about_text{
        font-size: 22px;
    }
    .slogan{
        width: 30vw; 
        font-size: 70px;
    }
    .itemContainer{
        display: grid;
        grid-template-columns: repeat(4, 300px);
        gap: 10px;
    }
}
@media (min-width : 1600px){

    .about_header{
        font-size: 40px;
    }
    .about_text{
        font-size: 22px;
    }
    .slogan{
        width: 30vw; 
        font-size: 60px;
    }
    .itemContainer{
        display: grid;
        grid-template-columns: repeat(5, 300px);
        gap: 10px;
    }
}
@media (min-width : 1300px)and (max-width:1400px){

    .about_header{
        font-size: 40px;
    }
    .about_text{
        font-size: 22px;
    }
    .slogan{
        width: 50vw; 
        font-size: 60px;
    }
    .itemContainer{
        display: grid;
        grid-template-columns: repeat(4, 300px);
        gap: 10px;
    }
    .cartItem{
        width: 60%;
    }
}
@media (min-width : 1000px)and (max-width:1300px){
    .about_header{
        font-size: 40px;
    }
    .about_text{
        font-size: 22px;
    }
    .slogan{
        width: 50vw; 
        font-size: 60px;
    }
    .itemContainer{
        display: grid;
        grid-template-columns: repeat(3, 300px);
        gap: 10px;
    }
    .cartItem{
        width: 60%;
    }
}
@media (min-width : 620px)and (max-width:1000px){
    .reviews_container{
        grid-template-columns: repeat(2, 1fr);
    }
    .about_img{
        width: 40%;
        opacity: 0;
    }
    .reviewImage{
        width: 0px;
    }
    .slogan{
        width: 60vw; 
    }
    .itemContainer{
        display: grid;
        grid-template-columns: repeat(2, 300px);
        gap: 10px;
    }
    .cartItem{
        width: 80%;
    }
}
@media (min-width : 450px)and (max-width:620px){
    .reviews_container{
        grid-template-columns: 1fr;
    }
    .about_img{
        width: 40%;
        opacity: 0;
    }
    .reviewImage{
        width: 0px;
    }
    .createReview{
        width: 100%;
    }
    .slogan{
        width: 80vw; 
    }
    .itemContainer{
        display: grid;
        grid-template-columns: repeat(1, 300px);
        gap: 10px;
    }
    .cartItem{
        width: 80%;
    }
}
@media (max-width:450px){
    .reviews_container{
        grid-template-columns: 1fr;
    }
    .about_img{
        width: 40%;
        opacity: 0;
    }
    .reviewImage{
        width: 0px;
    }
    .createReview{
        width: 100%;
    }
    .slogan{
        width: 80vw; 
    }
    .itemContainer{
        display: grid;
        grid-template-columns: repeat(1, 30px);
        gap: 10px;
    }
    .cartItem{
        width: 80%;
    }
}
